.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .search {
    &__container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      input {
        padding: 5px 10px;
        margin-left: 10px;
      }
    }
  }

  .customers {
    &__container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .customer-list__container {
        display: flex;
        div:not(:first-child) {
          margin: 0 10px;
        }
      }
    }
  }

  .transactions__list {
    &__container {
      margin-top: 1rem;
    }
  }
}
